{% extends 'base.html' %} {% load static %} {% block page_title %} Josh | Blog {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>Blog Posts!</h1>
            <hr>
            <a href="{% url 'add_post' %}" role="button" class="btn btn-warning" id="all-stock" aria-disabled="false">Add Post</a>
        </div>
    </div>
</div>

{% for p in posts %}
<p>{{ p.title }} - {{ p.created_on }} - {{ p.last_modified }} </p>
<a href="{% url 'edit_post' p.id  %}" role="button" class="btn btn-warning" aria-disabled="false">Edit Post</a>{% endfor %} {% endblock %}